<!DOCTYPE html>
<html>
<head>
    <title>Liver Disease Prediction</title>
</head>
<body>
    <h2>Liver Disease Prediction Form</h2>
    <form method="post" action="/predict">
        Age: <input type="text" name="Age"><br>
        Gender (0=Female, 1=Male): <input type="text" name="Gender"><br>
        Total Bilirubin: <input type="text" name="Total_Bilirubin"><br>
        Direct Bilirubin: <input type="text" name="Direct_Bilirubin"><br>
        Alkaline Phosphotase: <input type="text" name="Alkphos"><br>
        SGPT: <input type="text" name="Sgpt"><br>
        SGOT: <input type="text" name="Sgot"><br>
        Total Proteins: <input type="text" name="Total_Proteins"><br>
        Albumin: <input type="text" name="Albumin"><br>
        A/G Ratio: <input type="text" name="A_G_Ratio"><br>
        <input type="submit" value="Predict">
    </form>
    <h3>{{ prediction_text }}</h3>
</body>
</html>
